/*
Juan Carlos Montero Santiago
415122599
*/

@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
	margin: 0;
	padding: 0;
}

footer, header, section{
	display: block;
}

body {
	font-family: 'Montserrat', sans-serif;
	width: 100%;
	color: #4d4d4d;
	background-image: url("img/back.png");
  	background-repeat: no-repeat;
  	background-attachment: fixed;
}

button {
  	background-color: #808080;
  	border: none;
  	color: white;
  	padding: 10px 10px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
}

button:hover{
  	background-color: #A9A9A9;
  	cursor: pointer;
}

.wrapper {
	width: 90%;
	margin: 0 auto;
}

.topnav {
	padding: 0;
	width: 100%;
  	overflow: hidden;
	display: inline-block;
}

.topnav .buscar {
  	float: right;
}

.topnav input[type=text] {
	font-family: 'Montserrat', sans-serif;
  	padding: 6px;
  	margin-top: 8px;
  	font-size: 17px;
  	border: 3px solid #4d4d4d;
}

.header {
	height: 150px;
	font-size: 90px;
	color: #000000;
	text-align: center;
	background-image: url("img/div.png");
	background-repeat: repeat-x;
	background-position: bottom;
	background-origin: padding-box;
}

.info {
	width: 100%;
	font-size: 50px;
}

.mapa {
	width: 800px;
	height: 400px;
	font-size: 22px;
	border: 10px solid #4d4d4d;
	border-radius: 5px;
	margin: 10px 20%;
	padding: 10px;
	display: none;
	box-sizing: border-box;
	column-count: 2;
	text-align: left;
	column-width: 50%;
	background-color: #ffffff;
	vertical-align: text-top;
}

.mapaDonado {
	width: 800px;
	height: 400px;
	font-size: 22px;
	border: 10px solid #4d4d4d;
	border-radius: 5px;
	margin: 10px 20%;
	padding: 10px;
	display: inline-block;
	box-sizing: border-box;
	column-count: 2;
	text-align: left;
	column-width: 50%;
	background-color: #ffffff;
	vertical-align: text-top;
}

.mapa img {
	height: 350px;
	width: 350px;
}

.mapaDonado img {
	height: 350px;
	width: 350px;
}

.mapa img:hover{
	cursor: pointer;
}

.mapaDonado img:hover{
	cursor: pointer;
}

.mapa li {
	list-style-image: url("img/list.png");
}

.mapaDonado li {
	list-style-image: url("img/list.png");
}

.mapa a {
	text-decoration: none;
	color: #000000;
}

.mapaDonado a {
	text-decoration: none;
	color: #000000;
}

.mapa a:hover {
	text-decoration: underline;
	color: #000000;
}

.mapaDonado a:hover {
	text-decoration: underline;
	color: #000000;
}

.mapa h1{
	font-size: 10px;
}

.mapaDonado h1{
	font-size: 10px;
}

.content {
	margin: 0 auto;
	padding: 70px 0;
	text-align: center;
	display: box;
	box-sizing: border-box;
}

#america:hover {
	border: 10px solid #008724;
	border-radius: 5px;
	background-color: #00a463;
}

#europa:hover {
	border: 10px solid #b90324;
	border-radius: 5px;
	background-color: #f58d0c;
}

#africa:hover {
	border: 10px solid #8b1496;
	border-radius: 5px;
	background-color: #ceccd7;
}

#asia:hover {
	border: 10px solid #ffd320;
	border-radius: 5px;
	background-color: #faeb88;
}

#mundo:hover {
	border: 10px solid #4b54f8;
	border-radius: 5px;
	background-color: #83b0dc;
}

.footer {
	height: 80%;
	background-image: url("img/footer.gif");
	background-repeat: no-repeat;
	background-position: bottom center;
	background-origin: padding-box;
	padding: 78px;
	text-align: center;
	font-size: 20px;
}